[Desktop Entry]
Encoding=UTF-8
Name=StereoVision
Comment=StereoVision Application
Exec=stereovision.py
Terminal=false
Type=Application
Categories=Science
