[Desktop Entry]
Encoding=UTF-8
Name=StereoVision
Comment=StereoVision Application
Exec=StereoVision
Terminal=false
Type=Application
Categories=Science

